@{
    ViewData["Title"] = "Thank You";
}

<div class="container text-center mt-5 text-white">
    <h1 class="display-4">✅ Thank You!</h1>
    <p class="lead">Your service booking has been successfully submitted.</p>
    <p>We will be in contact shortly with more information.</p>
    <a href="/" class="btn btn-outline-light mt-3">Return to Home</a>
</div>
