@model IEnumerable<Swift_Move.Models.ServiceList>

@{
    ViewData["Title"] = "Services";
}

<div class="text-center text-white">
    
    <h1>Our Services</h1>
    <p class="indexp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor.</p>

    <br>
    <hr class="bg-light" style="height: 2px; border: none; w-1000">
    
    <div class="container my-5">
    <div class="row justify-content-center text-white g-4">
        <div class="col-md-4 col-sm-6">
            <div class="card h-100 shadow" style="border: 2.5px solid black;">
                <img class="card-img-top" src="~/Images/Home.jpg" alt="Home Removals" style="height: 14rem; object-fit: cover;">
                <div class="card-body" style="background-color: darkcyan; color: white;">
                    <h5 class="card-title">Home Removals</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="nav-link text-dark btn btn-light px-3 py-2 d-block mx-auto" style="width: 150px;" asp-area="" asp-controller="Home" asp-action="Bookings">Book Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card h-100 shadow" style="border: 2.5px solid black;">
                <img class="card-img-top" src="~/Images/Office.jpg" alt="Office Relocation" style="height: 14rem; object-fit: cover;">
                <div class="card-body" style="background-color: darkcyan; color: white;">
                    <h5 class="card-title">Office Relocation</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="nav-link text-dark btn btn-light px-3 py-2 d-block mx-auto" style="width: 150px;" asp-area="" asp-controller="Home" asp-action="Bookings">Book Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card h-100 shadow" style="border: 2.5px solid black;">
                <img class="card-img-top" src="~/Images/Storage.jpg" alt="Storage Services" style="height: 14rem; object-fit: cover;">
                <div class="card-body" style="background-color: darkcyan; color: white;">
                    <h5 class="card-title">Storage Services</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="nav-link text-dark btn btn-light px-3 py-2 d-block mx-auto" style="width: 150px;" asp-area="" asp-controller="Home" asp-action="Bookings">Book Now</a>
                </div>
            </div>
        </div>
    </div>

    <hr class="bg-light mt-5 mb-4" style="height: 2px; border: none;" />
    <h2 class="text-white text-center">Our Available Services</h2>
    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover bg-white text-dark">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Staff Required</th>
                        <th>Price (£)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model)
                    {
                        <tr>
                            <td>@service.Title</td>
                            <td>@service.Description</td>
                            <td>@service.StaffRequired</td>
                            <td>£@service.Price.ToString("F2")</td>
                            <td>
                                <a asp-controller="Home" asp-action="Bookings" class="btn btn-sm btn-primary">Book Now</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>

